:root{
    --main-background:#363738;
    --icon:#c8c8c8;
    --background: #262728;
    --main-txt: #d1d1d1;
    --main-color: #575757;
    --txt:#ffff;
    --stroke: #5f5f5f;
    --table-header:#4b4b4b;
    --ticket-box:#363738;
    --gradient:linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(23,48,64,1) 52%, rgba(255,255,255,0) 100%);
}
