:root{
    --main-background:#303030;
    --icon:#a4a4a4;
    --background: #262728;
    --main-txt: #acacac;
    --main-color: #575757;
    --txt:#ffff;
    --stroke: #5f5f5f;
    --table-header:#4b4b4b;
    --ticket-box:#333333;
    --gradient:linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(23,48,64,1) 52%, rgba(255,255,255,0) 100%);
    --chat-me:#929292;
    --chat-you: #18242b;
    --chat-you-time:#c1c1c1;
    --chat-me-time:#3b3b3b;
    --line:linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(142 142 142) 52%, rgba(255, 255, 255, 0) 100%);
    --acc-color:linear-gradient(50deg, rgb(38 39 40) 0%, rgb(17 32 41) 100%);
    --blue-dashboard:#444444;
    --blue-dashboard-op:#4444445c;
}
