@media (max-width: 1200px) {

    body{
        font-size: 14px;
    }
    .circle{
        top: -80px;
        height: 165%;
    }
}
@media (max-width: 992px) {
    body{
        font-size: 12px;
    }
    .text-sidebar-wrapper h6,.text-sidebar-wrapper h5{
        font-size: 16px;
    }
    .sidebar-wrapper{
        width: 13%;
    }
    .navbar-brand img {
        width: 20%;
    }
    .header-txt{
        font-size: 12px;
    }
    .sub-menu{
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    
    .header-txt{
        font-size: 14px;
    }
}
@media (max-width: 576px) {
    .sidebar-wrapper{
        width: 40%;
    }
    .navbar-brand img {
        width: 25%;
    }
}