@font-face {
    font-family: "IRANSans";
    src: url("Font/fonts/ttf/IRANSansWeb.ttf");
    src: url("Font/fonts/woff/IRANSansWeb.woff");
}

@font-face {
    font-family: "adell";
    src: url("Font/fonts/AdelleSansARA-Regular.otf");

}

@font-face {
    font-family: "adellBold";
    src: url("Font/fonts/AdelleSansARA-Heavy.otf");

}
.small-fs{
    font-size: 12px;
}

body {
    background-color: var(--main-background);
    direction: rtl;
    font-size: 16px;
}

* {
    text-align: right;
    font-family: "IRANSans";
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

svg {

    color: var(--icon);
}

#page-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: var(--background);
}

.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 5px 8px 5px 8px;
    height: 55px;
    box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 5%), -2px -2px 5px 0px rgb(0 0 0 / 5%);
}

.sidebar-wrapper nav {
    background-color: var(--background);
    right: 0;
    height: 100%;
    overflow-y: scroll;
    direction: ltr;
    padding-bottom: 100px;
}

.sidebar-wrapper nav::-webkit-scrollbar {

    background-color: var(--bg-color);
    border-radius: 10px;
    width: 8px;
}

.sidebar-wrapper nav::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
    border-radius: 10px;
}

.sidebar-wrapper nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: flex;
    padding: 12px 15px;
    color: var(--main-txt);
    text-decoration: none;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    justify-content: flex-end;

}

.sidebar-wrapper nav ul li a:hover {
    background: var(--main-color);
    color: var(--main-background);
}

.sidebar-wrapper nav ul li a:hover svg {
    color: var(--main-background);
}

.sidebar-wrapper nav ul li a .fa {
    width: 16px;
    text-align: center;
    margin-right: 5px;
    float: right;
}

.sidebar-wrapper nav ul ul li a {
    color: var(--icon);
}

/* nav ul li ul li a {
	
	border-left: 4px solid transparent;
	padding: 10px 20px;
} */
.sidebar-wrapper nav ul li ul li a:hover {
    border-left: 4px solid var(--main-color);
}

.navbar-brand img {

    width: 14%;
}
.navbar-brand span{
    color: var(--main-txt);
}
.header-txt {
    color: var(--icon);
}

.line {
    border: 1px solid var(--stroke);
    margin: 10px 0px 10px 0px;
}
/* 
.circle-wrapper {
    height: 15%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.circle {
    position: absolute;
    top: -152px;
    width: 100%;
    height: 250%;
    background-color: var(--main-color);
    border-radius: 100%;

} */

.text-sidebar-wrapper {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-sidebar-wrapper h5 {
    font-family: "adell";
    font-weight: bolder;
    color: var(--main-txt);

}

.text-sidebar-wrapper h6 {
    color: var(--main-txt);
}

.g-line {
    width: 100%;
    height: 2px;
    display: flex;
    background: rgb(255, 255, 255);
    background: var(--line);
    margin: 10px 0 10px 0;
}

.sidebar-wrapper {
    position: fixed;
    width: 15%;
    height: 100vh;
}

.sidebar-wrapper span {
    padding-right: 14px;
}

.offcanvas {
    width: 45% !important;

}

.offcanvas-body {
    padding: 0;
}
.profile-header div{
    color: var(--main-txt);
}
.profile-name {
    text-decoration: none;
    color: var(--main-txt);
}
.dropdown-menu.show {
    right: -35px;
}
.profile-header .dropdown-menu li:first-child {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 10px;
}
.dropdown-menu {
    background-color: var(--background);
    color: var(--main-txt);
    width: 30px;
}
.dropdown-menu li .dropdown-item {
    border-bottom: 1px solid var(--stroke);
    padding: 4px 15px 4px 15px;
}
.dropdown-item{
    color: var(--icon);
}
rect{
    fill: var(--main-color);
}
.datepicker-plot-area{
    background-color: var(--ticket-box)!important;
}
.datepicker-plot-area .datepicker-navigator .pwt-btn-next, .datepicker-plot-area .datepicker-navigator .pwt-btn-switch, .datepicker-plot-area .datepicker-navigator .pwt-btn-prev{
    color: white !important;
}


.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-month-view .month-item{
    background-color: var(--ticket-box)!important;
    color: white !important;
}
.datepicker-plot-area .toolbox .pwt-btn-calendar,.datepicker-plot-area .toolbox .pwt-btn-today,
.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell{
    color: white !important;
}
.form-floating label svg{
    margin-left: 10px;
}
