:root{
    --main-background:#F6F6F6;
    --icon:#727272;
    --background: #ffff;
    --main-txt: #000000;
    --main-color: #173040;
    --stroke: #CFCFCF;
    --txt:#ffff;
    --table-header:#eeeeee;
    --ticket-box:#F8F8F8;
    --gradient:linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(23,48,64,1) 52%, rgba(255,255,255,0) 100%);
}
