.title h5 {
    font-family: "adellBold";
    color: var(--main-txt);
}

.box-wrapper {
    min-height: 100px;
    background-color: var(--background);
    border-radius: 7px;
    box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 5%), -2px -2px 5px 0px rgb(0 0 0 / 5%);
}

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.form-control {
    font-size: 14px;
    background-color: var(--main-background);
    border: 1px solid var(--stroke);
}

.input-group-text {
    border: 1px solid var(--stroke);
}

.form-floating>label {
    display: flex;
    align-items: center;
    top: 0px;
    right: 10px;
    padding: 0;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext {
    padding: 7px;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
    height: 35px;


}

.form-control[type=file] {
    height: 45px;
}

.form-floating {
    color: var(--icon);
    width: 90%;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px rgb(0 0 0 / 5%), -1px -1px 2px 0px rgb(0 0 0 / 5%);
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--background);
    border-color: var(--stroke);
    outline: 0;
    padding-top: 0 !important;
    box-shadow: none;
}

input[placeholder-shown],
[placeholder] {
    color: var(--icon) !important;
}

.form-control[placeholder-shown],
[placeholder] {
    color: var(--icon) !important;
}

.input-group .form-control::placeholder {
    color: var(--icon);
}

input::placeholder {
    color: var(--icon);
}

::placeholder {
    color: var(--icon);
}

.input-group-text {
    color: var(--icon);
}

.form-check-input {
    background-color: transparent !important;
}

.select-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    right: 10px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 0.75rem;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: var(--bs-border-width) solid transparent;
}

.select-style {
    width: 90%;
    color: var(--icon);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px rgb(0 0 0 / 5%), -1px -1px 2px 0px rgb(0 0 0 / 5%);

}

.select-style select {
    height: 35px;

}

.input-group {
    height: 35px;
}

.input-group input,
.input-group span {
    padding: 0;
}

.input-group-text {
    background-color: var(--main-background) !important;
}

.check-color-supporter {
    color: #0DCAF0;
}

.check-bgcolor-supporter {
    background-color: #0DCAF0;
}

.check-color-supporter input {
    border: 1px solid #0DCAF0;
}

.check-color-waiting {
    color: #DC3545;
}

.check-bgcolor-waiting {
    background-color: #DC3545;
}

.check-color-waiting input {
    border: 1px solid #DC3545;
}

.check-color-closed {
    color: #198754;
}

.check-bgcolor-closed {
    background-color: #198754;
}

.check-color-closed input {
    border: 1px solid #198754;
}

.check-color-cheking {
    color: #FFC107;
}

.check-bgcolor-cheking {
    background-color: #FFC107;
}

.check-color-cheking input {
    border: 1px solid #FFC107;
}

.check-color-response {
    color: #DF60FF;
}

.check-bgcolor-response {
    background-color: #DF60FF;
}

.check-color-response input {
    border: 1px solid #DF60FF;
}

.form-check-input:focus {
    box-shadow: none;
    border-color: var(--main-color) !important;
}

.form-check-input:checked {
    background-color: var(--main-color);
}

.ticket-wrapper {
    border: 1px solid var(--stroke);
    width: 98%;
    background-color: var(--ticket-box);
    border-radius: 5px;

}

.status-wrapper {
    width: 32px;

}

.status {
    padding: 3px;
    border-radius: 0px 5px 5px 0;
    text-align: center;
}

.status span {
    color: var(--txt);
}

@media (max-width: 992px) {
    .ticket-box {
        height: 420px !important;
    }
}

.ticket-box {
    overflow-y: scroll;
    height: 520px;

}

.ticket-box::-webkit-scrollbar {

    background-color: var(--bg-color);
    border-radius: 10px;
    width: 8px;
}

.ticket-box::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
    border-radius: 10px;
}

.ticket-detail {
    color: var(--main-txt);
}

.zp-tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.zp-tooltip .tooltiptext {
    visibility: hidden;
    font-size: 14px;
    width: max-content;
   
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    z-index: 1080;
    position: absolute;
    top: -5px;
    left: 110%;
    transform: translateX(-50%);
    opacity: 0;
    
    transition: opacity 0.3s; background-color: rgba(0, 0, 0, 0.7);
}

/* Show the tooltip text when hovering */
.zp-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    z-index: 1080;
}

